In [1]:
import pandas as pd
# Reference: https://trends.google.com/trends/?geo=US

In [2]:
%%capture
# Documentation: https://pypi.org/project/pytrends/#trending-searches

!pip install pytrends
from pytrends.request import TrendReq

pytrend = TrendReq(timeout = (10, 25), retries = 2)

In [3]:
pytrend.build_payload(kw_list = ['Football', 'Messi'])
# Interest by Region

df = pytrend.interest_by_region()
df.sort_values(by = ['Football', 'Messi'], ascending = [False, False], inplace = True)
df.head(25)

                      Football  Messi
geoName
United States               99      1
United Kingdom              98      2
Ireland                     97      3
Kenya                       96      4
Australia                   95      5
New Zealand                 95      5
Thailand                    93      7
Zambia                      92      8
Canada                      91      9
Uganda                      91      9
Singapore                   90     10
Malaysia                    89     11
Russia                      89     11
Tanzania                    88     12
Ethiopia                    86     14
Nigeria                     86     14
Greece                      85     15
Philippines                 85     15
United Arab Emirates        85     15
Bangladesh                  82     18
Saudi Arabia                82     18
Belgium                     81     19
France                      81     19
Norway                      79     21
India                       78     22

In [4]:
# Daily Search trends
df = pytrend.trending_searches(pn = 'united_states')
df

                            0
0                 Kelly Price
1                      Grimes
2           Christopher Reeve
3               Bitcoin price
4                    The View
5                     Arizona
6               Billie Eilish
7                   Jon Jones
8                 Chris Cuomo
9         Michael K. Williams
10              Halo Infinite
11        Foundation Apple TV
12          Syracuse football
13                Josh Gordon
14            William Shatner
15  JetBlue flight attendants
16                  Laver Cup
17               The Starling
18              Gwen Shamblin
19             Kelly Clarkson

In [5]:
pytrend.build_payload(kw_list = ['covid', 'coronavirus', 'pandemic', 'masks'])

df = pytrend.interest_over_time()

df

            covid  coronavirus  pandemic  masks isPartial
date
2016-09-25      0            0         0      0     False
2016-10-02      0            0         0      0     False
2016-10-09      0            0         0      0     False
2016-10-16      0            0         0      0     False
2016-10-23      0            0         0      0     False
...           ...          ...       ...    ...       ...
2021-08-22     18            2         0      0     False
2021-08-29     18            2         0      0     False
2021-09-05     15            2         0      0     False
2021-09-12     14            2         0      0     False
2021-09-19     13            2         0      0      True

[261 rows x 5 columns]

In [6]:
# Historical Hourly Interest

pytrend.build_payload(kw_list = ['covid'])

df = pytrend.get_historical_interest(['covid'],
                                year_start = 2020,
                                month_start = 3,
                                day_start = 20,
                                hour_start = 1,
                                year_end = 2020,
                                month_end = 3,
                                day_end = 21,
                                hour_end = 1,
                                sleep = 20)

df

                     covid  isPartial
date
2020-03-20 01:00:00     83      False
2020-03-20 02:00:00     84      False
2020-03-20 03:00:00     78      False
2020-03-20 04:00:00     68      False
2020-03-20 05:00:00     59      False
2020-03-20 06:00:00     51      False
2020-03-20 07:00:00     47      False
2020-03-20 08:00:00     45      False
2020-03-20 09:00:00     46      False
2020-03-20 10:00:00     49      False
2020-03-20 11:00:00     53      False
2020-03-20 12:00:00     59      False
2020-03-20 13:00:00     59      False
2020-03-20 14:00:00     61      False
2020-03-20 15:00:00     63      False
2020-03-20 16:00:00     64      False
2020-03-20 17:00:00     67      False
2020-03-20 18:00:00     68      False
2020-03-20 19:00:00     70      False
2020-03-20 20:00:00     71      False
2020-03-20 21:00:00     74      False
2020-03-20 22:00:00     81      False
2020-03-20 23:00:00     84      False
2020-03-21 00:00:00     83      False
2020-03-21 01:00:00     82      False

In [7]:
# yearly Top Trending Searches
df = pytrend.top_charts(2020, hl = 'en-US', tz = 360, geo = 'GLOBAL')
del df['exploreQuery']

df

                  title
0           Coronavirus
1      Election results
2           Kobe Bryant
3                  Zoom
4                   IPL
5  India vs New Zealand
6    Coronavirus update
7  Coronavirus symptoms
8             Joe Biden
9      Google Classroom

In [8]:
# Keyword Type Suggestions
keywords = pytrend.suggestions(keyword = 'Mercedes Benz')

df = pd.DataFrame(keywords)

df

          mid                  title                     type
0    /m/052mx          Mercedes-Benz  Luxury vehicles company
1  /m/0h5wpdf          Mercedes-Benz          Automobile make
2   /m/03706p  Mercedes-Benz G-Class                     Suvs
3   /m/024y62  Mercedes-Benz C-Class               Luxury car
4   /m/03w98r  Mercedes-Benz A-Class              Compact car

In [9]:
# Fetching related queries for keyword 'coronavirus'

keyword = 'coronavirus'
pytrend.build_payload(kw_list = [keyword])

related_queries = pytrend.related_queries()
related_topics = pytrend.related_topics()

In [10]:
# Viewing related queries

for key in related_queries[keyword].keys():
    print(key + ': ')
    temp_df = pd.DataFrame(related_queries[keyword][key])
    display(temp_df)
    print()

top:

                            query  value
0              coronavirus update    100
1               coronavirus cases     90
2                coronavirus news     67
3                  coronavirus uk     63
4                          corona     56
5               india coronavirus     49
6            coronavirus symptoms     41
7   thank you coronavirus helpers     33
8              coronavirus france     32
9         coronavirus worldometer     31
10                    worldometer     31
11                coronavirus usa     31
12                 us coronavirus     31
13                 coronavirus us     31
14              world coronavirus     30
15                coronavirus map     29
16             coronavirus italia     29
17               coronavirus tips     29
18             coronavirus deaths     27
19               coronavirus live     25
20                   corona virus     23
21                       covid 19     23
22             españa coronavirus     22
23              coronavirus death     22
24              coronavirus china     20

rising:

                            query   value
0   thank you coronavirus helpers  175000
1         coronavirus worldometer  164650
2                     worldometer  163800
3              coronavirus italia  152350
4                        covid 19  119850
5              coronavirus brasil  103150
6                 coronavirus hoy   81900
7                           italy   81300
8                coronavirus oggi   65550
9               coronavirus stats   63000
10            coronavirus numbers   61250
11         coronavirus death toll   52000
12           colombia coronavirus   47950
13         coronavirus statistics   43950
14        india coronavirus cases   43650
15           us coronavirus cases   39800
16        coronavirus live update   38700
17          coronavirus deaths uk   38650
18              coronavirus count   37300
19       coronavirus update india   36450
20          coronavirus no brasil   34950
21            coronavirus updates   31900
22            coronavirus ireland   31800
23           coronavirus uk cases   31650
24          coronavirus worldwide   31400

In [11]:
related_topics[keyword]['top']

# Link Prefix: https://trends.google.com/

,value,formattedValue,hasData,link,topic_mid,topic_title,topic_type
0,100,100,True,/trends/explore?q=/m/01cpyy&date=today+5-y,/m/01cpyy,Coronavirus,Virus
1,4,4,True,/trends/explore?q=/m/01b_06&date=today+5-y,/m/01b_06,Symptom,Topic
2,4,4,True,/trends/explore?q=/m/0294j&date=today+5-y,/m/0294j,Death,Topic
3,3,3,True,/trends/explore?q=/m/03rjj&date=today+5-y,/m/03rjj,Italy,Country in Europe
4,3,3,True,/trends/explore?q=/m/09nm_&date=today+5-y,/m/09nm_,World,Topic
5,2,2,True,/trends/explore?q=/m/0g9pc&date=today+5-y,/m/0g9pc,Virus,Infectious agent
6,2,2,True,/trends/explore?q=/g/11ckxx4f1g&date=today+5-y,/g/11ckxx4f1g,Worldometers,Website
7,1,1,True,/trends/explore?q=/m/06mnr&date=today+5-y,/m/06mnr,Statistics,Discipline
8,1,1,True,/trends/explore?q=/g/11j8_9sv06&date=today+5-y,/g/11j8_9sv06,COVID-19 vaccine,Vaccine
9,1,1,True,/trends/explore?q=/g/11fsrytkzq&date=today+5-y,/g/11fsrytkzq,2020 coronavirus pandemic in France,Event
10,0,<1,True,/trends/explore?q=/m/07l88z&date=today+5-y,/m/07l88z,Lockdown,Topic
11,0,<1,True,/trends/explore?q=/g/11j8qdq0kc&date=today+5-y,/g/11j8qdq0kc,COVID-19 testing,Topic
12,0,<1,True,/trends/explore?q=/m/09kvv&date=today+5-y,/m/09kvv,Johns Hopkins University,"Private university in Baltimore, Maryland"
13,0,<1,True,/trends/explore?q=/g/11fsr_yffj&date=today+5-y,/g/11fsr_yffj,2020 coronavirus pandemic in Canada,Event
14,0,<1,True,/trends/explore?q=/m/0chgr2&date=today+5-y,/m/0chgr2,Victoria,Australia
15,0,<1,True,/trends/explore?q=/m/0bzty&date=today+5-y,/m/0bzty,Lombardy,Italian region
16,0,<1,True,/trends/explore?q=/g/1235wdfh&date=today+5-y,/g/1235wdfh,Última Hora,Topic

In [12]:
suggestions = pytrend.suggestions('covid')

df = pd.DataFrame(suggestions)

df

             mid                         title            type
0  /g/11j2cc_qll      Coronavirus disease 2019         Disease
1  /g/11j8_9sv06              COVID-19 vaccine         Vaccine
2  /g/11j8qdq0kc              COVID-19 testing           Topic
3  /g/11fr15t15h  2019–20 coronavirus pandemic           Topic
4    /g/1218cqmx                         Cubit  Unit of length

In [13]:
# That's it